version: "3.8"
services:
    debian:
        build: "./configure/debian"
        restart: "always"
        args:
            WEB_USER_GID: 1000
            WEB_USER_UID: 1000
            WEB_USER_PASSWORD: www-user
        ports:
            - "80:8080"
        environment:
            - "TZ=Asia/Seoul"
            - "DEBIAN_FRONTEND=noninteractive"
        volumes:
            - "./sources/web:/Application:rw"
        depends_on:
            - "mariadb"
    mariadb:
        image: "mariadb:latest"
        ports:
            - "3306:3306"
        restart: "always"
        environment:
            - "MYSQL_ROOT_PASSWORD=mariaDbRootPassword"
            - "MYSQL_DATABASE=db-user"
            - "MYSQL_USER=db-user"
            - "MYSQL_PASSWORD=db-password"
        volumes:
            - "./sources/mariadb:/var/lib/mysql:rw"