version: "3.8"
services:
    debian:
        build:
            context: "./configure/debian"
            args:
                WEB_USER_GID: ${WEB_USER_GID}
                WEB_USER_UID: ${WEB_USER_UID}
                WEB_USER_PASSWORD: ${WEB_USER_PASSWORD}
        env_file: "./configure/debian/debian.env"
        restart: "always"
        ports:
            - "80:80"
        environment:
            - "TZ=Asia/Seoul"
            - "DEBIAN_FRONTEND=noninteractive"
        volumes:
            - "./sources/web:/Application:rw"
        depends_on:
            - "mariadb"
    mariadb:
        build:
            context: "./configure/mariadb"
            args:
                MYSQL_UID: ${MYSQL_UID}
                MYSQL_GID: ${MYSQL_GID}
        env_file: "./configure/debian/mariadb.env"
        ports:
            - "3306:3306"
        restart: "always"
        environment:
            - "MYSQL_ROOT_PASSWORD=mariaDbRootPassword"
            - "MYSQL_DATABASE=dbuser"
            - "MYSQL_USER=dbuser"
            - "MYSQL_PASSWORD=dbpassword"
        volumes:
            - "./sources/mariadb:/var/lib/mysql:rw"